.wform {
  width: 100%;
  margin: 20px 20px;
  }

.winput {
  font: inherit;
  color: currentColor;
  width: 200px;
  border: 1px solid gray;
  border-radius: 4px;
  height: 1.1876em;
  display: block;
  background: none;
  box-sizing: content-box;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
  padding: 18.5px 14px;
  }
.winput:focus{
  outline: 0;
}
.wbutton {
  color: #ffffff;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 1px solid #b3cbee;
  border-radius: 4px;    
  cursor: pointer;
  margin: 20px 0;
  padding: 6px 16px;
  outline: 0;
  /* vertical-align: middle; */
  -moz-appearance: none;
  background-color: #b3cbee;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}