.yoshpa-form {
  width: 100%;
  margin: 20px 20px;
}
.yoshpa-input { 
  font: inherit;
  letter-spacing: inherit;  
  border: 1px solid gray;
  border-radius: 4px;
  display: block;
  width: 200px;
  height: 1.1876em;
  color: currentColor;
  background: none;
  box-sizing: content-box;  
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
  padding: 18.5px 14px;
}
.yoshpa-input:focus {
  outline: 0;
}
.yoshpa-span {
  display: block;
  color: rgb(245, 98, 98);
  font-size: 0.8rem;
  padding-left: 14px;
}
.yoshpa-button {
  color: #ffffff;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  background-color: #b3cbee;
  border: 1px solid #b3cbee;
  border-radius: 4px; 
  outline: 0;   
  cursor: pointer;
  margin: 20px 0;
  padding: 6px 16px;  
  -moz-appearance: none;  
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}